﻿@{
    ViewBag.Title = "Welcome to Subway Express";
}

<div class="green-panel margin-top-30">
    <div class="row text-center">
        <img src="~/Images/logo-green-bg.png" />
    </div>
    <div class="row  margin-top-30">
        <div class="col-md-6 text-center">
            <div class="col-md-12 white-panel">
                <img src="~/Images/home-individual.png" />
                <h2>Individuals or Catering</h2>
                <p><a class="btn btn-default" href="@Url.Action("Index", "ExpressOrdering")">Order now</a></p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="col-md-12 white-panel">
                <img src="~/Images/home-school.png" />
                <h2>Subway &reg; School Lunch Programme</h2>
                <p><a class="btn btn-default" href="@Url.Action("School", "ExpressOrdering")">Order now</a></p>
            </div>
        </div>
    </div>
</div>