﻿@model Subway.NZ.Data.Models.Menu.Category
<div class="row remove-side-margin">
    @foreach (var item in Model.SubCategories)
    {
        <div class="col-lg-5ths col-md-4 text-center">            
            <img src="@item.Image" alt="@item.Name" /><br>
            <h3>@item.Name</h3>
            <p>@item.Title</p>
            @foreach (var sub in item.Products)
            {
                <div class="catering-buy-container">
                    <h4>@sub.Name</h4>
                    <p><em class="red">@sub.Serves</em> <i>@sub.ServesPortions</i></p>
                    <span class="product-price orange">$@sub.Price.ToString("0.00")</span>
                    <span class="qty-selector">
                        <button class="btn btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                        <input style="width:3em;text-align:center;" placeholder="qty" />
                        <button class="btn btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
                <hr />
            }                       
        </div>
    }

    
</div>