﻿@model Subway.NZ.Data.Models.Menu.Category
    <div class="row remove-side-margin">
    <div class="col-lg-6">
        <h3>@Model.Title</h3>
    </div>
    <div class="col-lg-6">
        @if (Model.ShowMakeItA_Box)
        {
            <div class="make-it-a-box">
                <span>Make it a salad or wrap in step 2</span>
                <img src="~/Images/Icons/make-it-a.png" />
            </div>
        }

    </div>
</div>
<div class="row remove-side-margin">
    @foreach (var p in Model.Products)
            {
        <div class="col-sm-3 text-center menu-product-box">
                <img src="@p.ImageUrl" alt="Image for @p.Name" /><br>
                <button class="btn btn-sm btn-warning buy-btn">Buy</button>
                @if (p.IsHotSub)
                {
                    <img class="served-hot" src="~/Images/Icons/served-hot.png" alt="served hot" title="Served hot" />
                }
            <div class="product-name">
                @p.Name
            </div>
        </div>
    }
</div>