﻿@model Subway.NZ.Web.Models.OrderingModel

@{
    Layout = "~/Views/Shared/_LayoutOrdering.cshtml";
}

<div class="row remove-side-margin">
    <div class="col-md-12">
        <h2>My last order</h2>
        <p>To view orders by date enter a date range and click View.</p>
    </div>
        
    <div class="col-md-4">Start date</div>
    <div class="col-md-8">
        <input type="date" class="date-picker" />
    </div>
    <div class="col-md-4">End date</div>
    <div class="col-md-8">
        <input type="date" class="date-picker" />
    </div>

    <div class="col-md-12">
        <button class="btn btn-primary">View</button>
    </div>
</div>

<hr />

@foreach (var o in Model.RecentOrders)
{
    <div class="row remove-side-margin">
        <div class="col-sm-4">
            <label class="ckb">
                <input type="radio" name="radioRecentOrder" /> <i></i>
            </label>
            <span>Order # @o.OrderId</span>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-4">Order mode:</div>
                <div class="col-sm-8">@o.OrderMode</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Date order placed:</div>
                <div class="col-sm-8">@o.Date</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Pick up date:</div>
                <div class="col-sm-8">@o.Pickup</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b>Your order:</b><br />
                    @foreach (var i in o.Items)
                    {
                        <span>[@(i.Quantity)x] @i.ProductName</span><br />
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <span class="orange">$@o.Total.ToString("0.00")</span>
        </div>
    </div><hr />
}

<button class="btn btn-secondary">Home</button>
<button class="btn btn-default">Order now</button>




@section scripts{
<script>

</script>
}