﻿@model Subway.NZ.Web.Models.OrderingModel

@{
    Layout = "~/Views/Shared/_LayoutOrdering.cshtml";
    var selectedCategory = Model.Menu.Categories.FirstOrDefault();
}

<div class="col-md-12">
    @Html.Partial("StepsBar", 1)

    <div class="category-menu hidden-sm hidden-xs">
        <ul>
            @foreach (var item in Model.Menu.Categories)
            {
                <li data-category-name="@item.Name" class="@(item == selectedCategory? "selected":"")" onclick="ShowTab('@item.Name');" >@item.Name</li>
            }     
        </ul>
    </div>


    @foreach (var item in Model.Menu.Categories)
    {
        <div data-category-name="@item.Name" class="sub-accordion-header visible-sm visible-xs @(item == selectedCategory? "selected":"")" onclick="ShowTab('@item.Name');">
            <h3>
                @item.Name
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
        </h3>
    </div>
        <div class="row menu-category-container remove-side-margin" data-category-name="@item.Name" style="display:@(item == selectedCategory? "inherit":"none")">
            @if (!string.IsNullOrEmpty(item.Layout))
            {
                @Html.Partial(item.Layout, item);
            }            
        </div>
    }
    <div>
        <a href="#">Nutritional info</a>
        <img src="~/Images/Icons/served-hot.png" alt="served hot icon" /> Served hot
    </div>
    
    @Html.Partial("StepsBar", 1)
</div>

@* Modal dialogs*@
@Html.Partial("StartOrderSchools")


@section scripts{
<script>
    $(function () {
        // check if there is already an order.. if not open the dialog...
        $("#startOrderSchools").modal();
    });

    function ShowTab(categoryName) {
        // Show relevant tab
        $('div.menu-category-container').fadeOut(0);
        $('div.menu-category-container[data-category-name="'+categoryName+'"]').fadeIn(0);
        
        // Set seleted menu item
        $('div.category-menu li').removeClass("selected");
        $('div.category-menu li[data-category-name="'+categoryName+'"]').addClass("selected");
    }
</script>
}