﻿@model Subway.NZ.Web.Models.OrderingModel
@{ 
    var storesDdlModel = Model.Stores.Select(x => new SelectListItem
    {
        Value = x.SiteId.ToString(),
        Text = string.Format("{0}{1}", x.AcceptsCreditCards ? "[CC] " : "", x.Name)
    });
}

<div id="startOrder" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h2>Last order</h2>
                <p>Add to your order at any time. Click the <b>Buy</b> button.</p>

                @foreach (var item in Model.RecentOrders)
                {
                    <div class="row">
                        <div class="col-sm-8">
                            <b>@item.Name - @item.Total.ToString("c")</b><br />
                            SUBWAY EXPRESS&reg; ONLINE #@item.OrderId<br />
                            <b>Date: </b>@item.Date<br />
                            <b>Pickup: </b>@item.Pickup
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-warning">Buy</button>
                        </div>
                    </div><hr />
                }

                <h2>Pickup store</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <b>CC</b> = Store offers credit card payments<br />

                        @Html.DropDownList("StoreId", storesDdlModel, new { style= "max-width: none;"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-7">
                        <button type="button" class="btn btn-default" data-dismiss="modal">New order</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>