﻿@{
    var model = new
    {
        Sites = new[]
        {
            new Subway.NZ.Data.Models.Store { SiteId = 1, Name = "London store", AcceptsCreditCards = true},
            new Subway.NZ.Data.Models.Store { SiteId = 2, Name = "Bristol store", AcceptsCreditCards = false},
        },
        RecentOrders = new[]
            {
                new { OrderId = 12346, Date = DateTime.Now, Pickup = DateTime.Now.AddMinutes(30), Amount = 8.60m, Name = "Order 2"}
            }
    };

    var storesDdlModel = model.Sites.Select(x => new SelectListItem
    {
        Value = x.SiteId.ToString(),
        Text = string.Format("{0}{1}", x.AcceptsCreditCards ? "[CC] " : "", x.Name)
    });
}

<div id="startOrderSchools" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h2>Last order</h2>
                <p>Add to your order at any time. Click the <b>Buy</b> button.</p>

                @foreach (var item in model.RecentOrders)
                {
                    <div class="row">
                        <div class="col-sm-8">
                            <b>@item.Name - @item.Amount.ToString("c")</b><br />
                            SUBWAY EXPRESS&reg; ONLINE #@item.OrderId<br />
                            <b>Date: </b>@item.Date<br />
                            <b>Pickup: </b>@item.Pickup
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-warning float-right">Buy</button>
                        </div>
                    </div>
                    if (item != model.RecentOrders.LastOrDefault())
                    {
                        <hr />                        
                    }
                }
                <div class="row margin-top-20">
                    <div class="col-sm-6">
                        <h2>Favourites</h2>
                    </div>
                    <div class="col-sm-6">
                        <select class="margin-top-10">
                            <option value="" disabled selected>Please select</option>
                            <option value="1">Fav 1</option>
                        </select>
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h2>School</h2>
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="radio" name="radioSchool" id="radioSearch" value="search" checked="checked" />
                        <label for="radioSearch">Search school</label><br />
                        <input type="radio" name="radioSchool" id="radioSelect" value="search" />
                        <label for="radioSelect">Select from all schools</label>
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-inline" name="search" placeholder="Enter search here" value="" /> 
                        <a class=""><span class="glyphicon glyphicon-search"></span></a><br />
                        @Html.DropDownList("StoreId", storesDdlModel)
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-6">
                        <h2>Class</h2>
                    </div>
                    <div class="col-sm-6">
                        <input type="radio" name="radioClass" id="radioSelectClass" value="search" checked="checked" />
                        @Html.DropDownList("classSelect", new[] { new SelectListItem { Text = "Select class" } }, new { @class="inline-select" })<br />
                        <input type="radio" name="radioClass" id="radioSelectClass" value="Enter" />                   
                        <input type="text" id="enterClass" placeholder="Enter class here" />                        
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-6">
                        <h2>Student name</h2>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="enterStudentName" class="full-width" />                        
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">New order</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>