﻿@model Subway.NZ.Web.Models.OrderingModel

@{
    Layout = "~/Views/Shared/_LayoutOrdering.cshtml";    
}

<div class="col-md-12">
    @Html.Partial("StepsBar", 3)

    <h2>MAKE IT A MEAL</h2>
    <hr />
      
    <div class="row">
        <div class="col-md-4 right-bordered">
            <h3>01: CHICKEN CLASSIC</h3>
            <p>Make a meal of any sub, salad or wrap. Choose one side and a regular soft drink for an extra $3.60. For another $1.30, replace your regular soft drink with a bottled beverage.</p>
            <h3>CHOOSE ONE SIDE</h3>
            @foreach (var x in Model.Sides)
            {
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/Images/lengths/six-inch.png" />
                    </div>
                    <div class="col-xs-8">@x.Name</div>
                    <div class="col-xs-2">
                        <label class="ckb">
                            <input type="radio" name="radioSides" /> <i></i>
                        </label>
                    </div>
                </div>
                <hr class="compact" />
            }

            <h3>CHOOSE YOUR DRINK</h3>
            @foreach (var x in Model.Drinks)
            {
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/Images/lengths/six-inch.png" />
                    </div>
                    <div class="col-xs-8">@x.Name</div>
                    <div class="col-xs-2">
                        <label class="ckb">
                            <input type="radio" name="radioDrinks" /> <i></i>
                        </label>
                    </div>
                </div>
                <hr class="compact" />
            }
        </div>
        <div class="col-md-4 right-bordered">
            <h3>BUY ADDITIONAL ITEMS</h3>
            @foreach (var x in Model.AdditionalItems)
            {
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/Images/lengths/six-inch.png" />
                    </div>
                    <div class="col-xs-6">@x.Name</div>
                    <div class="col-xs-4">
                        <button class="btn btn-sm btn-warning">Buy</button>
                    </div>
                </div>
                <hr class="compact" />
            }
        </div>
        <div class="col-md-4">
            @Html.Partial("Summary")
        </div>

  </div>
<div class="row remove-side-margin">
    <span>
        ^Cookies may contain traces of peanuts, tree nuts and sesame.<br />
        *Bottled Beverages are not available at Mobil Subway restaurants or Auckland Hospital restaurants.
    </span><br />
    <span class="red">PICKUP ONLY</span><br />
    <span class="green">PRICES ARE IN NZD AND INCLUDE GST</span>
</div>

   
    
    @Html.Partial("StepsBar", 3)
</div>


@section scripts{
<script>

</script>
}