﻿@model Subway.NZ.Web.Models.OrderingModel

@{
    Layout = "~/Views/Shared/_LayoutOrdering.cshtml";
    var storesDdlModel = Model.Stores.Select(x => new SelectListItem
    {
        Value = x.SiteId.ToString(),
        Text = string.Format("{0}{1}", x.AcceptsCreditCards ? "[CC] " : "", x.Name)
    });

}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("StepsBar", 4)
            <div class="col-md-8">
                <h2>CONFIRM YOUR ORDER</h2>
            </div>
            <div class="col-md-4">
                <div class="total-box">
                    <span class="total-amount-label orange">ORDER TOTAL</span>
                    <span class="total-amount">$ @Model.Cart.Total.ToString("0.00")</span>
                </div>
            </div>
        <hr />
    
        <div class="col-md-6">
            <h3>PICKUP STORE</h3>
            @Html.DropDownList("StoreId", storesDdlModel)

            <br />
            <label class="ckb">
                <input type="checkbox" /> <i></i>I do not require a plastic bag
            </label>
        </div>


        <div class="col-md-6">
            <h3>PICKUP TIME</h3>
            <label class="ckb">
                <input type="radio" name="collectionDate" checked="checked" /> <i></i>Today
            </label>
            <label class="ckb">
                <input type="radio" name="collectionDate" /> <i></i>In advance
            </label>

            <span>
                Time: 
                @Html.DropDownList("collectionTimeHours", new [] {"1pm","2pm" }.Select(x => new SelectListItem { Text = x }), new { style = "width:70px" })
                @Html.DropDownList("collectionTimeMinutes", new[] { "00", "05", "10" }.Select(x => new SelectListItem { Text = x }), new { style = "width:70px" })
            </span>
        </div>
        <hr />
    </div>
</div>    

@foreach (var item in Model.Cart.Items)
{
    <div class="row cart-item remove-side-margin">
        <div class="col-md-5">
            <span class="green product-name">@item.ProductName</span>
        </div>
        <div class="col-md-3">
            <img src="@item.ImageUrl" alt="Image for @item.ProductName" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-default btn-sm">Save</button>
            <button class="btn btn-default btn-sm">Edit</button>
            <button class="btn btn-default btn-sm">X</button>
            <br />
            <div class="cart-item-actions">
                x <input class="quantity" value="@item.Quantity" />
                <span class="orange">($ @item.Price.ToString("0.00"))</span>
            </div>
        </div>

    </div>
}

<div class="row remove-side-margin margin-bottom-10">
    <div class="col-md-5">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-4">
        <button class="btn btn-warning btn-sm">Next item</button>
        <button class="btn btn-warning btn-sm">Save order</button>
    </div>

</div>
    
    @Html.Partial("StepsBar", 4)


@section scripts{
<script>

</script>
}