﻿@model Subway.NZ.Web.Models.OrderingModel

@{
    Layout = "~/Views/Shared/_LayoutOrdering.cshtml";    
}

<div class="col-md-12">
    @Html.Partial("StepsBar", 2)

    <h2>MAKE IT YOUR WAY</h2>
    <hr />
      
    <div class="row">
        <div class="col-md-4 right-bordered">
            <h3>01: CHICKEN CLASSIC</h3>
            <p>Build your sub from the options below</p>
            <div data-customize-sub-section="sub" class="blue-header hidden-sm hidden-xs selected"><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Sub/Salad/Wrap</div>
            <div data-customize-sub-section="cheese" class="blue-header hidden-sm hidden-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Cheese</div>
            <div data-customize-sub-section="extras" class="blue-header hidden-sm hidden-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Extras</div>
            <div data-customize-sub-section="salad" class="blue-header hidden-sm hidden-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Salads</div>
            <div data-customize-sub-section="more" class="blue-header hidden-sm hidden-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>More variety</div>
            <div data-customize-sub-section="sauces" class="blue-header hidden-sm hidden-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-right"></span>Sauces</div>

            <div>
                <br />
                <span class="red">PICKUP ONLY</span><br />
                <span class="green">PRICES ARE IN NZD AND INCLUDE GST</span>
            </div>
        </div>
        <div class="col-md-4">
            <div data-customize-sub-section="sub" class="blue-header visible-sm visible-xs selected"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span>Sub/Salad/Wrap</div>
            <div class="customize-sub-section" data-customize-sub-section="sub">
                @foreach (var length in Model.Lengths)
                {
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="~/Images/lengths/six-inch.png" />
                        </div>
                        <div class="col-xs-8">@length.Name</div>
                        <div class="col-xs-2">
                            <label class="ckb">
                                <input type="radio" name="radioLength" /> <i></i>
                            </label>
                        </div>
                    </div>
                    <hr class="compact" />
                }
            </div>



            <div data-customize-sub-section="cheese" class="blue-header visible-sm visible-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span>Cheese</div>
            <div class="hidden customize-sub-section" data-customize-sub-section="cheese">Cheese</div>
            
            <div data-customize-sub-section="extras" class="blue-header visible-sm visible-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span>Extras</div>
            <div class="hidden customize-sub-section" data-customize-sub-section="extras">Extras</div>
            
            <div data-customize-sub-section="salad" class="blue-header visible-sm visible-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span>Salads</div>
            <div class="hidden customize-sub-section" data-customize-sub-section="salad" >Salads</div>
            
            <div data-customize-sub-section="more" class="blue-header visible-sm visible-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span>More variety</div>
            <div class="hidden customize-sub-section" data-customize-sub-section="more"  >More variety</div>
            
            <div data-customize-sub-section="sauces" class="blue-header visible-sm visible-xs"><span class="glyphicon glyphicon glyphicon-circle-arrow-down"></span>Sauces</div>
            <div class="hidden customize-sub-section" data-customize-sub-section="sauces">Sauces</div>

        </div>
        <div class="col-md-4">
            @Html.Partial("Summary")
        </div>
  </div>

   
    
    @Html.Partial("StepsBar", 2)
</div>


@section scripts{
<script>
    $(function () {
        $(".blue-header").click(function () {
            var tabName = $(this).attr('data-customize-sub-section');
            // Show relevant tab
            $('div.customize-sub-section[data-customize-sub-section]').addClass('hidden');
            $('div.customize-sub-section[data-customize-sub-section="' + tabName + '"]').removeClass('hidden');

            // Set seleted menu item
            $('div[data-customize-sub-section]').removeClass("selected");
            $('div[data-customize-sub-section="' + tabName + '"]').addClass("selected");
        });
    });
</script>
}