﻿@model Subway.NZ.Web.Models.OrderingModel

@{
    Layout = "~/Views/Shared/_LayoutOrdering.cshtml";    
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("StepsBar", 5)
        <div class="col-md-8">
            <div class="box light-steel">
                <h2>Payment details</h2>
                <h3>Select your payment method</h3>
                <select id="select-payment-method">
                    <option value="pickup">Payment on pickup</option>
                    @if (Model.Balance.Balance > 0)
                    {
                        <option value="subcard">SUBCARD&reg; only</option>
                        <option value="mixed">SUBCARD&reg; and credit card</option>
                    }
                    <option value="card">credit card</option>
                </select>
                <div class="margin-top-10"></div>
                <div data-payment-method="pickup"></div>
                <div data-payment-method="subcard" style="display:none">
                    @{ 
                        decimal rewardAmount = Math.Min(Model.Balance.RewardsBalance, Model.Cart.Total);
                        decimal giftAmount = Math.Min(Model.Balance.GiftsBalance, Model.Cart.Total - rewardAmount);
                    }
                    <p>Check your SUBCARD&reg; balance in this screen. Enter the amount od Gift Dollars you'd like to use. 
                    Un-check the box if you don't want to use your SUBCARD&reg; Reward dollars.</p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6 text-right">Reward dollars</div>
                        <div class="col-sm-6">
                            $<input class="text-right" value="@rewardAmount"
                                    style="width:5em"
                                    readonly="readonly" />
                            <input type="checkbox" id="useRewards" checked="checked" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-right">Gift dollars</div>
                        <div class="col-sm-6">
                            $<input class="text-right" value="@giftAmount.ToString("0.00")"
                                    style="width:5em"/>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-right">Order total</div>
                        <div class="col-sm-6">
                            <b>$@Model.Cart.Total.ToString("0.00")</b>
                        </div>
                    </div>
                </div>
                <div data-payment-method="card" style="display:none">
                    <hr />
                    <div class="row">
                        <div class="col-sm-6 text-right">Credit card to use: </div>
                        <div class="col-sm-6">
                            <select id="select-payment-card">
                                <option value="new-card">Use a new card</option>
                                <option value="1234">VISA xxx-1234</option>
                                <option value="1235">MASTERCARD xxxx-5678</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="text-right margin-top-10">
                    <button class="btn btn-next">Next</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="total-box blue">
                <span class="total-amount-label">ORDER TOTAL</span>
                <span class="total-amount">$ @Model.Cart.Total.ToString("0.00")</span>
            </div>
            <div class="total-box blue margin-top-20">
                <h2>Subcard&reg; balance</h2>
                <p>Here's where you're at:</p>
                <p>SUBCARD&reg; @Model.Balance.CardNumber</p>
                <h4>Your reward dollars</h4>
                <p><b>$@Model.Balance.RewardsBalance.ToString("0.00")</b></p>
                <h4>Your gift dollars</h4>
                <p><i>(loaded credit)</i></p>
                <p><b>$@Model.Balance.GiftsBalance.ToString("0.00")</b></p>
                <p><i>(balances as at @DateTime.Now.ToShortDateString())</i></p>
                <p>Remember, when you pay for your order online you'll automatically earn Reward Dollars.</p>
                <p>So there's no need to scan your SUBCARD&reg; instore.</p>
                <p>NOTE: if you're paying using Reward OR Gift dollars, your balances will not update until you have collected your order.</p>
            </div>
        </div>
        <hr />

    </div>
    <div class="col-md-12 center-block margin-bottom-20">
        <button class="btn btn-default" onclick="$('#sampleModal').modal(); return false;">Show modal dialog</button>
        @Html.Partial("ModalMessage", new Subway.NZ.Web.Models.ModalMessage { ControlId = "sampleModal", Message="Something's wrong...", DismissButtonText = "OK", IconClass= "glyphicon glyphicon-warning-sign modal-warning" })
    </div>    
</div>

@Html.Partial("StepsBar", 5)




@section scripts{
<script>
    $(function () {
        $('#select-payment-method').change(function () {
            var method = $('#select-payment-method').val();
            $("div[data-payment-method]").fadeOut(0);
            $("div[data-payment-method=" + method + "]").fadeIn(0);
            if (method == "mixed") {
                $("div[data-payment-method=card]").fadeIn(0);
                $("div[data-payment-method=subcard]").fadeIn(0);
            }
        })
    });
</script>
}