﻿@model Subway.NZ.Web.Models.OrderingModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bordered-panel">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/logo.png" alt="Subway Express Logo"/>
        </div>
        <div class="col-md-8">
            <div class="top-summary">
                Reward Dollars: $@Model.Balance.RewardsBalance.ToString("0.00") | Gift Dollars: $@Model.Balance.GiftsBalance.ToString("0.00") | Balance: $@Model.Balance.Balance.ToString("0.00")
            </div>
            <div class="top-menu">
                <a href=""><img src="~/Images/Icons/fav.png" />Favourites</a>
                <a href="@Url.Action("MyLastOrder")"><img src="~/Images/Icons/last-order.png" />Last Order</a> 
                <a href=""><img src="~/Images/Icons/my-details.png" />My Details</a> 
                <a href=""><img src="~/Images/Icons/setup-mobile.png" />Setup Mobile Ordering </a> 
                <a href=""><img src="~/Images/Icons/logout.png" />Logout</a>     
            </div>
        </div>
    </div>

    <div class="row margin-top-10">
        @RenderBody()
    </div>
</div>


@section scripts{
    @RenderSection("scripts", required: false)
}



