﻿@model Subway.NZ.Web.Models.ModalMessage
<div id="@Model.ControlId" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <span class="@Model.IconClass"></span>
                    <br />
                    <p>@Model.Message</p>
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Model.DismissButtonText</button>
                    </div>
                </div>                
            </div>

        </div>

    </div>
</div>