﻿@model int

@{     
    string prevUrl= null;
    string nextUrl = null;
    switch (Model)
    {
        case 1:            
            nextUrl = Url.Action("Step" + (Model + 1).ToString());
            break;
        case 2:
            prevUrl = Url.Action("Index");
            nextUrl = Url.Action("Step" + (Model + 1).ToString());
            break;
        case 3:
        case 4:
            prevUrl = Url.Action("Step" + (Model - 1).ToString());
            nextUrl = Url.Action("Step" + (Model + 1).ToString());
            break;
        case 5:
            prevUrl = Url.Action("Step" + (Model - 1).ToString());
            break;
    }

}

<div class="step-bar row">
    <div class="col-md-12 text-center">
        @if (prevUrl!=null) {
             <a class="btn btn-back" style="float:left" href="@prevUrl">Back</a>
        }
        <span class="step-bar-links" style="display:inline-block">
            Step 
            @for (int i = 1; i <= 5; i++)
            {
                <a class="@(Model == i ? "selected":"")">@i</a>
            }
        </span>
        @if (nextUrl != null)
        {
            <a class="btn btn-next" style="float:right" href="@nextUrl">Next</a>
        }
    </div>
</div>
