﻿<div class="step-summary">
<h3>Summary</h3>
    <div class="step-scroller">
        <div class="row">
            <div class="col-sm-3">Choice</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblChoice">Tuna</span></div>
            <div class="col-sm-2 text-right">113</div>
        </div>
        <div class="row">
            <div class="col-sm-3">Size</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblSize">SUBWAY FOOTLONG® </span></div>
            <div class="col-sm-2 text-right">0</div>
        </div>

        <div class="row">
            <div class="col-sm-3">Toasted</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblToasted">Non Toasted</span></div>
            <div class="col-sm-2 text-right">0</div>
        </div>

        <div class="row">
            <div class="col-sm-3">Bread</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblBread">White Bread</span></div>
            <div class="col-sm-2 text-right">
                390
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">Cheese</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblCheese">No Cheese</span></div>
            <div class="col-sm-2 text-right">
                0
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">Extras</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblExtraMeat">&nbsp;</span></div>
            <div class="col-sm-2 text-right">
                0
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Salads</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblVeggies">&nbsp;</span></div>
            <div class="col-sm-2 text-right">
                0
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Extra Variety</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblExtraVariety">&nbsp;</span></div>
            <div class="col-sm-2 text-right">
                0
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Sauces</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblSauces">&nbsp;</span></div>
            <div class="col-sm-2 text-right">
                0
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Make it a Meal</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblValueMeal">&nbsp;</span></div>
            <div class="col-sm-2 text-right">  0</div>
        </div>

        <div class="row">
            <div class="col-sm-3">Bottled Drink</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblBottledDrink">&nbsp;</span></div>
            <div class="col-sm-2 text-right"> 0</div>
        </div>

        <div class="row">
            <div class="col-sm-3">Sides</div>
            <div class="col-sm-7"><span id="ctl00_mainContent_orderItemControl_lblSides">&nbsp;</span></div>
            <div class="col-sm-2 text-right">
                0
            </div>
        </div>
        <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-7 text-right" colspan="2">Calories</div>
                <div class="col-sm-2 text-right">503</div>
            </div>
        </div>
        <h3>Item total: <span>$10.20</span></h3>
</div>
